table, th, td {
	border: 1px solid black;
},

.start-mine {
	background-color: #A9A9A9;
	color: #A9A9A9;
},

#game-board {
	width: 100%;

},

.square {


},

.mine {


},

.number {


},

.hit {


},

.game-over{


},
